<%= form_with url:add_domains_path, model: website do |form| %>
  <div>
    <%= form.label :domain_name %><br>
    <%= form.text_area :domain_name, size: "70x15" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>


