<h1><%= @website.title %></h1>

<p><%= @website.body %></p>

<ul>
  <li><%= link_to "Edit", edit_website_path(@website) %></li>
  <li><%= link_to "Destroy", website_path(@website),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>